# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/."

# Web3-auth:
WEB3_AUTH_CLIENT_ID=

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAunLniCa9xRcC6y6S2mD8LIcOanFoFMYYDf3NWll8Iu/5RBAm
P7sk4mFH4MVic9zYfbgMpZoN8XJYSYh10sRYcO6iQ972yDZskCfXDM52iR5FSdyl
X1STo+jUx8qPVtSdQKxAEdfOQBOJIJ9qh7iFZTudkF+UEB63aKGzVoP5nf6GEr47
KLVJ+7njTTlzRdk4D9eh0Rf1a6XEHPd0FXs1rk0gT5fGycRavPzyAH08gbADht8D
eOz+UbTMwH2PHKJ6a4yYBisWdIlFGVAmc2lijm/k5z1lI8VmCcAXcak8l2ZY/mAQ
Hl/rMEPZS4/vFgyuMyRZQHlCU1pfasjgsNY9EQIDAQABAoIBAGaAFvNNwRQiA3PB
pfAyU1Aza2RvNjX9dWnztrpN6aXXYaTeb/inbK6bpoVWXjquFcJ/tUwxNisfnpPG
Vmfpk2l6d3Bymh8VdHeHv30F4Dqfjp39lFilSYlZzeiMXmLw/gZ467wjdPrbAo8R
tOIqOgOeU4/0S5TVHiWCh/IvGcKWIdQOFinSDCaT6Jb65y5g4EX3SQSYyWFAPS+o
FVtqaEKtnfRWOzk22aFbqT9VRyzC+MxPiHVLnettG1fHMraxcSwwsHXtyXSfwhVA
8+aKd4sjvz3HSZGmfG8d1AYnY9tsf9C7IDpFot7Gpo+Wjj31XJS2Yy8wCbzEkHsw
iZAcc+UCgYEA9TD+MeAufe5+iQgsWJM0Z7WZvecvCjevAK5799Fgc7oNtgHPaKCc
bRAs2TeaIq9vw9/TMACgj2YTNUbmr8EvedFK6YG1T4hsZ6nJTmgb13C1UTwgo6ro
ggNn69oHNZAUVvjRreL8M02P/MSoA0HLI9nzJJRfJp+j88kQVbCxHHsCgYEAwqr/
Iz1tKwvYiz2oeDPlwnSbGyFpUgSGIf93Q8R+UhRD9Uy8o9NvoUbFNQHh/vSeYkoO
PlfgS3xNxzeFBS/kYHppRK91ydxsK5hGn9R1/mkzPrLNv5xnUwrMMXKBG62cv22q
LFW1dvtlr4FrdRSKkNXJEBUh2oaR5aA4tGCzNOMCgYB4qc+uw+CdYM0sqrUIMglM
MHakmizwHk8lSrj/UC7jROCSfXmQx9mzYo5vp4lXIHckMfZAXU6mw1kYkvfb7npq
vLDdEVQk+8I9kbTbvShWccUJYUm+wdECiqKN0xJRLcKUuoaVyGrM5JLDlhQI5kwO
LKgXjFz3KQEKbBx5zyaaGQKBgEpEiKA+MCcLFutQc7SgQBjm+cHpBlBnL3FLEIpH
LdZMqvyr8RAje2QxJs2pUTo+wypGjJaWWhkSbG4DrXkkI2H3ca/lrO99a7taFh+m
I/oS0p0qBDsFBZp19R8sSztvCe0yfoj5jgi9sra5jnCVjKPjHBlJpqfDTWgor1mJ
xvT3AoGBAIJU1wPxPnCiRLxbUvPdk6w8y/FgzwCSRQlWnT8JJlWGKOJDG0CMQp9r
0OQYjfa3P60n83AvfBfxX2KH/35XEA0M0UjgXOWzzEaSAN6dsl0iQgs4++EkkrkZ
1mX7Bd59xqfgQ+hX9kqZHe7yNULb5mbeDOkETERMRLrR9SqMjui6
-----END RSA PRIVATE KEY-----"

NEXT_PUBLIC_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAunLniCa9xRcC6y6S2mD8
LIcOanFoFMYYDf3NWll8Iu/5RBAmP7sk4mFH4MVic9zYfbgMpZoN8XJYSYh10sRY
cO6iQ972yDZskCfXDM52iR5FSdylX1STo+jUx8qPVtSdQKxAEdfOQBOJIJ9qh7iF
ZTudkF+UEB63aKGzVoP5nf6GEr47KLVJ+7njTTlzRdk4D9eh0Rf1a6XEHPd0FXs1
rk0gT5fGycRavPzyAH08gbADht8DeOz+UbTMwH2PHKJ6a4yYBisWdIlFGVAmc2li
jm/k5z1lI8VmCcAXcak8l2ZY/mAQHl/rMEPZS4/vFgyuMyRZQHlCU1pfasjgsNY9
EQIDAQAB
-----END PUBLIC KEY-----"
