.glass-panel {
  color: #fff;
  /* margin: 40px auto; */
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  /* width: 100%; */
  border-radius: 15px;
  padding: 32px;
  overflow: auto;
  backdrop-filter: blur(10px);
}

/* .file-upload-form {
  display: flex; 
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  justify-content: center; 
  align-items: center; 
  backdrop-filter: blur(12px);
  width: 100vw; 
  height: 100vh;
  z-index: 999; 
}; */
