.glass-button {
    display: inline-block;
    padding: 15px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
.glass-button:hover {
    background-color: rgba(255,255,255,0.2);
}

.glass-button {
    margin: 15px;
    margin-top: 40px;
}